<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <!--Google-fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Bungee&family=Heebo:wght@300&family=Jura:wght@300;700&family=Lilita+One&family=Monoton&family=Syncopate:wght@700&family=Teko:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
    <!--FONT-AWESOME--> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <title>TV SERIES</title>
</head>
<body> 
     <!--LOGO AND MENU BUTTON-->
    <div class="navbar">
        <div class="menu-bars"><i class="fa-solid fa-bars"></i></div>
        <div class="title">
            <h2>Trend <span>Tv series</span></h2>
        </div>
    </div>



    <!--HEADER-->
        <header>
        <!--AUTH-CONTAINER-->
        <div class="container-auth">
            <% if (user) { %>
                </i><div class="user"><i class="fa-solid fa-user-check"></i>Welcome <%= user.fullname %> </div>
                <div class="logout"><i class="fa-solid fa-user-minus"></i><a href="logout">Log out</a></div>
            <% }else { %>
            <div class="user"><i class="fa-solid fa-user"></i><a href="/login">Log in</a></div>
            
            <% } %>
                    
        </div>

        <div class="about-arrow">
            <div class="about"><p>About Us</p></div>
            <div class="arrow"><a href="#about"><i class="fa-solid fa-sort-down"></i></a></div>
        </div>
    <!--GO-TO-MATCH_GAME-->
        <div class="nav-matchgame">
            <a href="/matchgame">Play Tv Series Match Game!</a>
        </div>
        </header>



    <!--ABOUT-->
    <section class="aboutsection" id="about">
        <div class="about-container">
            <div class="logo"><h3>Trend <span>Tv series</span></h3></div>
            <div class="about-text" id="about-text">In this blog you'll find the most popular streaming series and everything you want to know about your favorite show.</div>
        </div>

    </section>   
    


    <!--MAIN-CONTENT-GRID-->

    <div class="main-content" id="main-content">
    <div class="main-content-title">Trend Series of the Week <div class="line"></div></div>
    
    <div class="grid" id="grid">

    </div> 

    </div>
   
    <!--ICONIC SERIES-->
    <div class="iconicseries">
        <div class="iconicshows"><h3>HONORIFIC MENTION OF <span>ICONIC SHOWS</span></h3></div>
    </div>

    <!--cultseries-CAROUSSEL-->
    <section class="iconic-section" id="about" aria-label="Newst Photo"> 
        <div class="caroussel" data-carousel>
            <button class="carousel-btn prev" data-carousel-button="prev"><i class="fa-solid fa-circle-chevron-left"></i></button>
            <button class="carousel-btn next" data-carousel-button="next"><i class="fa-solid fa-circle-chevron-right"></i></button>
            <ul data-slides>
                <li class="slide" data-active>
                    <img src="/public/imgs/is1.jpeg">
                    <div class="iconic-container">
                        <div class="logo"><h3>Ozark</h3></div>
                        <div class="about-text" id="about-text">Ozark follows Marty Byrde, a financial advisor wrapped up in a money laundering scheme. When the scheme goes wrong, Marty relocates his family from Chicago to Missouri, where he must work to make amends to a Mexican drug cartel, setting up a larger operation in the Ozarks.</div>
                    </div>
                </li>
                <li class="slide">
                    <img src="/public/imgs/is2.jpeg">
                    <div class="iconic-container">
                        <div class="logo"><h3>MadMan</h3></div>
                        <div class="about-text" id="about-text">A man who dies in a car accident is reanimated by an eccentric doctor and given the name Frank Einstein. Though he wears a mask to hide his scarred face, the being is instilled with enhanced senses, powers, and abilities. Madman is a post-modernist reimagining of the Frankenstein tale, with a superhero twist.</div>
                    </div>
                </li>
                <li class="slide">
                    <img src="/public/imgs/is3.jpg">
                    <div class="iconic-container">
                        <div class="logo"><h3>The Sopranos</h3></div>
                        <div class="about-text" id="about-text">The story revolves around fictional New Jersey-based, Italian American mobster Tony Soprano (James Gandolfini). The series portrays the difficulties that he faces as he tries to balance his home life and his criminal organization and his failure of never having the makings of a Varsity Athelete.</div>
                    </div>
                </li>
                <li class="slide">
                    <img src="/public/imgs/is4.jpeg">
                    <div class="iconic-container">
                        <div class="logo"><h3>Doctor Who</h3></div>
                        <div class="about-text" id="about-text">Doctor Who is a British science fiction television programme broadcast by the BBC since 1963. The programme depicts the adventures of a Time Lord called the Doctor, an extraterrestrial being who appears to be human. The Doctor explores the universe in a time-travelling space ship called the TARDIS.</div>
                    </div>
                </li>
                <li class="slide">
                    <img src="/public/imgs/is5.jpeg">
                    <div class="iconic-container">
                        <div class="logo"><h3>Twin Peaks</h3></div>
                        <div class="about-text" id="about-text">Twin Peaks is an American television serial drama created by Mark Frost and David Lynch. The series initially follows the investigation – headed by FBI Special Agent Dale Cooper (Kyle MacLachlan) – of the brutal murder of a popular teenager and homecoming queen, Laura Palmer (Sheryl Lee).</div>
                    </div>
                </li>
                <li class="slide">
                    <img src="/public/imgs/is6.jpeg">
                    <div class="iconic-container">
                        <div class="logo"><h3>Peaky Blinders</h3></div>
                        <div class="about-text" id="about-text">Peaky Blinders is an epic centered on a gangster family of Irish-Romani origin set in Birmingham, England, starting in 1919, several months after the end of the First World War in November 1918. It centres on the Peaky Blinders gang and their ambitious, cunning boss Tommy Shelby (Murphy).</div>
                    </div>
                </li>
            </ul>
        </div>
    </section> 
    

    <!--FOOTER-->
    <footer>
    </footer>
    

    <script src="/public/js/api.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="/public/js/footer.js"></script>
</body>
</html>