* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 100vw;
    height: 100vh;
    /*background: linear-gradient(301deg, rgba(255,218,196,1) 0%, rgba(75,116,194,1) 41%, rgba(148,148,191,1) 75%, rgba(77,77,77,1) 100%);*/
    background: rgb(26, 24, 24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    text-align: center;
    border: 1px solid rgb(168, 69, 69);
    border-radius: 10px;
}

.titleh2 {
    font-size: 4vw;
    font-family: 'Jura', sans-serif;
    color: antiquewhite;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 4px solid rgb(250, 240, 227);
}

.titleh2 span {
    color: rgb(168, 69, 69);

}

.signup-container {
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 10px;
}

.notifications {
    color: rgb(248, 240, 229);
}
.signup-container form .input-box input{
    width: 300px;
    margin-bottom: 20px;
    padding: 15px 5px;
    outline: none;
    background: rgb(250, 240, 227);
    border: none;
}
.input-box-button input
 {
    width: 100%;
    height: 40px;
    color: #fff;
    background:rgb(168, 69, 69) ;
    cursor: pointer;
    transition: 500ms ease;
}

.input-box-button .register {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    color: #fff;
    background:rgb(168, 69, 69) ;
    cursor: pointer;
    transition: 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box-button .register a {
    text-decoration: none;
    color: #fff;
}

.input-box-button input:hover,
.input-box-button .register:hover{
    background:rgb(172, 38, 38) ;
}

.select {
    outline: none;
}
@media screen and (max-width:1000px) {
    .titleh2 {
        font-size: 6vw;
    }

}

@media screen and (max-width:500px) {
    .signup-container form .input-box input,
    .signup-container form .input-box-button input{
        width: 200px;
    }
    .input-box-notifications {
        display: flex;
        flex-direction: column;
        
        place-items: center;
        align-items: center;
        align-content: center;
    }
    .titleh2 {
        font-size: 7vw;
    }
    
}

@media screen and (max-width:280px) {
    .signup-container form .input-box input,
    .signup-container form .input-box-button input {
        padding:10px 5px;
        width: 180px;
    }
    .signup-container {
        padding: 40px 20px;
    }

}

@media screen and (max-height:600px) {
    .signup-container form .input-box input {
        padding: 6px 5px;
    }
}
